<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Star's API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>

  <body>
  <div class="container">
    <h1 class="text-center">Star's API</h1>
    <h4><a href="/api">Read My API Documentation</a></h4>

    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <form class="form-inline" id="newAnimationForm">
          <div class="form-group">
            <label for="title">Animation Movie</label>
            <input type="text" class="form-control" name="title" placeholder="Animation Title">
          </div>
          <div class="form-group">
            <label for="title">Studio</label>
            <input type="text" class="form-control" name="studio" placeholder="Animation Studio">
          </div>
          <div class="form-group">
            <label for="title">Characters</label>
            <input type="text" class="form-control" name="characters[name]" placeholder="Animation Character 1">
            <input type="text" class="form-control" name="characters[name]" placeholder="Animation Character 2">
          </div>
          <!-- TODO: When a button is pressed, prevent default, then use an ajax request to send the data to the appropriate api endpoint -->
          <button type="submit" class="btn btn-default">Create Animation Movie</button>
        </form>
        <div id='animationTarget'>
          <!-- handlebars template -->
          <script id="animation-template" type="text/x-handlebars-template">
            {{#each animations}}
            <hr>
            <p>
              <b>{{title}}</b>
              by {{studio}}
              <br>
              <b>Characters:</b>
              {{#each characters}}
                {{name}}
              {{/each}}
              <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
            </p>
            <form class="form-inline" id="addCharacterForm" data-id={{_id}}>
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Animation character">
              </div>
              <!-- TODO: When a button is pressed, prevent default, then use an ajax request to send the data to the appropriate api endpoint -->
              <button type="submit" class="btn btn-default">Add Characters</button>
            </form>
            {{/each}}
          </script>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
